html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}